* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(360deg, #006dad, #140044, #560088);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0;
	padding: 0;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(360deg, rgba(0, 109, 173, 0.5), rgba(20, 0, 68, 0.5), rgba(86, 0, 136, 0.5));
	z-index: -1;
}
.js {
	color: #fffad0;
	font-weight: 400;
}
.title {
	text-align: center;
	color: #14004400;
	background-color: rgba(0, 0, 0, 0.575);
	padding: 10px;
}

.title span {
	animation: rainbow-animation 7s infinite;
}

@keyframes rainbow-animation {
	0% {
		color: rgb(255, 50, 50);
	}
	14% {
		color: orange;
	}
	28% {
		color: yellow;
	}
	42% {
		color: rgb(0, 148, 0);
	}
	57% {
		color: rgb(56, 56, 255);
	}
	71% {
		color: rgb(94, 0, 161);
	}
	85% {
		color: violet;
	}
	100% {
		color: rgb(255, 50, 50);
	}
}

#tablero {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	flex-direction: column;
	width: 100%;
}

.ejemplo {
	background-color: rgba(0, 0, 0, 0.377);
	border-radius: 5px;
}

#tablero p {
	color: aliceblue;
}

canvas {
	box-shadow: 0 0 0.5em 0 #ac30ff, inset 0 0 0.5em 0 #ac30ff;
	margin-right: 6vh;
}

.intro,
.ejemplo {
	text-align: center;
	margin-top: 2%;
	color: aliceblue;
}

.intro {
	font-size: 22px;
	font-weight: 400;
}

.ejemplo {
	font-weight: 300;
	font-size: 20px;
	margin-right: 8%;
	margin-left: 8%;
}

.ejemplo b {
	cursor: pointer;
}

#tienda {
	display: flex;
	flex-direction: column;
	height: 80vh;
	border: 2px solid #f0f0f0;
	border-radius: 1vh;
	width: 90%;
	margin: auto;
	margin-bottom: 20vh;
	background: linear-gradient(360deg, rgba(60, 127, 253, 0.15), rgba(20, 0, 68, 0.6)), url(../imagenes/banner__4.jpg) no-repeat center center fixed;
	background-size: cover;
}

.game-screen-locked {
	overflow: hidden;
}

#tablero {
	margin-bottom: 10vh;
}
.boton_tienda,
.boton_inventario {
	height: 12vh;
	width: 12vh;
}
#box__superior {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-around;
}
.boton_inventario {
	display: inline-flex;
	background-color: transparent;
	padding: 0;
	border: white solid 1px;
	border-radius: 7px;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../imagenes/inventario_icono.png') center/contain no-repeat;
	background-color: #25a8ffd8;
}
.boton_tienda {
	display: inline-flex;
	background-color: transparent;
	padding: 0;
	border: white solid 1px;
	border-radius: 7px;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../imagenes/tienda__icono.png') center/contain no-repeat;
	background-size: 10vh;
	background-color: #ffdb3cd0;
}
.tienda__texto {
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 1vh;
	cursor: pointer;
}
.underline {
	text-decoration: underline;
}
.tienda__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-left: 11vh;
}
.inventario__box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-right: 11vh;
}
#inventario {
	height: 80vh;
	border: 2px solid #f0f0f0;
	display: flex;
	flex-flow: column;
	width: 90%;
	margin: auto;
	margin-bottom: 10vh;
	background: linear-gradient(360deg, rgba(60, 127, 253, 0.3), rgba(20, 0, 68, 0.6)), url(../imagenes/banner__index.jpg) no-repeat center center fixed;
	border-radius: 1vh;
	color: #61ffbdc4;
}
.titulos__inventario {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
	margin-top: 2%;
}
.tarjeta-inventario__imagen {
	height: 8vh;
	padding: 3%;
	width: auto;
	background-size: 50%;
}
.tienda__titulo {
	font-size: 6vh;
	color: rgb(255, 254, 253);
	text-align: center;
	border-radius: 4px;
}
#tarjetas__superior {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 50vh;
}
.tarjetas {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	width: 20%;
	height: 100%;
	border: 1px solid white;
	background-color: #020300;
	padding: 0%;
	border-radius: 8px;
	color: white;
}
.tarjetas_inventario {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
	width: 16%;
	height: 70%;
	cursor: pointer;
	border: 1px solid white;
	background-color: #020300b7;
	padding: 0%;
	border-radius: 8px;
	color: white;
}
.tarjeta-producto__imagen {
	height: 17vh;
	width: auto;
	background-size: 50%;
}
.tarjeta-producto__titulo {
	text-align: center;
	font-size: 3vh;
	padding-top: 5%;
}
.tarjeta-inventario__titulo {
	text-align: center;
	font-size: 2vh;
}
.tarjeta-producto__descripcion {
	text-align: center;
	font-size: 2vh;
	padding: 1vh;
}
.inventario__titulo {
	font-size: 6vh;
	color: rgb(255, 254, 253);
	text-align: center;
	border-radius: 4px;
	margin-left: 31%;
}
.separador {
	border: 1px white solid;
	height: 0;
	width: 100%;
}
.tarjeta-producto__boton {
	width: 35%;
	height: 9%;
	background-image: linear-gradient(30deg, #00929cfa, #6400d6);
	font-weight: bold;
	border-radius: 5px;
	border: white solid 2px;
	margin: 5%;
	cursor: pointer;
	color: #fffbfb;
}
.boton_play_musica {
	display: inline-flex;
	width: 9vh;
	height: 9vh;
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../imagenes/play_button.png') center/contain no-repeat;
}
.volumen {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-right: 3vh;
}
.volumen_icono {
	width: 3vh;
	margin-top: 1.2vh;
	margin-right: 1vh;
}
.play__texto {
	font-size: 25;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-top: 1vh;
	cursor: pointer;
}
.musica_play_box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.centro__tablero {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}
.boton_skip_musica {
	display: inline-flex;
	width: 9vh;
	height: 9vh;
	background-color: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url('../imagenes/skip_button.png') center/contain no-repeat;
}
#barra-musica {
	margin-top: 1vh;
	width: 10vh;
	height: 1vh;
	background-color: #f8f8f800;
}

#volume-slider {
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	appearance: none;
	background-color: #ffffff;
	border-radius: 2px;
}

#volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #3a3a3a;
	cursor: pointer;
	border-radius: 3px;
}
.boton_play_musica.playing {
	background-image: url('../imagenes/musica-pausa.png');
}
.boton_play_musica.paused {
	background-image: url('../imagenes/play_button.png');
}
.tarjetas__inferior {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 70vh;
}
.tarjetas__inferior__superior {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 50%;
}
.tarjetas__inferior__inferior {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 50%;
}
#pointsTotal {
	color: white;
	font-size: 2.5vh;
	padding-left: 20%;
}
#testeo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 15vh;
	width: 100%;
	margin-bottom: 5vh;
}
#puntosActuales,
.texto_puntos {
	color: white;
	font-size: 2.5vh;
}
#sumarPuntosButton {
	width: 20vh;
	height: 8vh;
	background-image: linear-gradient(30deg, #9c0056fa, #0080d6);
	font-weight: bold;
	border-radius: 5px;
	border: white solid 2px;
	cursor: pointer;
	font-size: 1.7vh;
	color: #fffbfb;
}
.texto_puntos {
	border-bottom: solid white 2px;
}
#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	height: 20vh;
	width: 100%;
	background-color: #020300c2;
	font-size: 2.5vh;
	color: white;
}
.derechos__footer {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 10vh;
}
.derechos__footer a {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.logo_github {
	width: 15vh;
	margin-right: 10vh;
}
.texto__footer {
	margin-right: 20vh;
	font-weight: bolder;
	border: solid white 2px;
	padding: 3vh;
	background-color: #000000c4;
	border-radius: 8px;
	animation: rainbow-END-animation 7s infinite;
}
@keyframes rainbow-END-animation {
	0% {
		color: rgb(255, 50, 50);
	}
	14% {
		color: orange;
	}
	28% {
		color: yellow;
	}
	42% {
		color: rgb(83, 255, 204);
	}
	57% {
		color: rgb(127, 127, 255);
	}
	71% {
		color: rgb(255, 255, 255);
	}
	85% {
		color: violet;
	}
	100% {
		color: rgb(255, 50, 50);
	}
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
	background-color: #000000 !important;
}
